/* styles.css*/

h1{
	text-align: center;
}

.Ingredientes{
	font-weight: bold;
}

a {
	color: blue;
}

ol {
	font-style: italic;
	
}



.lista {
	background-color:rgb(189, 221, 210);
	font-size: 16px;
	color: black;
}

.contenido {
    padding-left: 15%; /* Ajusta según tus necesidades */
    padding-right: 15%; /* Ajusta según tus necesidades */
    color: black;
}